@font-face{
  font-family: 'Centurygothic';
  src: url('ufonts.com_century-gothic.ttf') format('truefont');
  font-family: 'BaskervilleOldFace';
  src: url('ufonts.com_baskerville-old-face.ttf') format('truefont');
  font-family: 'Calibri W01 Light';
  src: url("raleway_thin-webfont.ttf") format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/

}
.section{
  max-width: 1280px;
    padding-bottom: 7.5rem;
    margin-left: auto;
    margin-right: auto;
}
.homepage, 
.contactme{
  height:100%;
  font-family: 'Josefin Sans', sans-serif;
  color: #ffffff;
}
.myprojects{
  height: 100%;
} 

nav ul li a:hover {
    background-color: #FCB41C;
    color: #FFF;
}
.homepage ul li a {
    display: block;
    height: 50px;
    padding: 14px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .87em;
    color: #EEE;
}
.homepage ul li {
    display: table-cell;
}
.homepage ul{
    float: right;
    margin-bottom: 0;
}

.homepage div .col-sm-4{
  padding-left: 0;
}
.contactme
{
  height:100%;
  background-color: #e6e6e6;
  font-size: 15px;
  font-family: 'Quicksand',sans-serif;
  color: #5d5d5d;
}
.aboutme .about
{
  height:100%;
  background-color: #e6e6e6;
  font-size: 15px;
  font-family: 'Quicksand',sans-serif;
  border:1px solid #e6e6e6;
  border-radius: 25px;
  box-shadow: 0 16px 48px rgba(0,0,0,0.25);
    -ms-transform: translateY(-8px);
    transform: translateY(-8px);
} 
ul li,
div a img.sm{
  display: inline;
}
div a img.sm,
div a img.sm_on,
div a img.sm_off{
  width: 32px;
  height: 32px;
  margin-top: 0;
  margin-left: 1.5em;
  margin-right: 1em;  

}
.sm_off, .sm:hover .sm_on{
   display:none
}
.sm_on, .sm:hover .sm_off{
   display:inline-block
}

.aboutme h1,h2,ul{
  text-align: center;
}
.list li{
  text-align: left;
}

.aboutme h2.col-sm-12{
  margin-top: 0;
  margin-bottom: 0.7em;
}
.aboutme p{
  margin-bottom: 2em;
}
.logo{
  padding-left: 0;
  height: 15%;
  width: 15%;   
}
.aboutme .info a{
  text-decoration: none;
  color: #5d5d5d; 
}
.aboutme .info a:hover{
  color: #FCB41C; 
}
.homepage nav{
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: rgba(37,37,37,.8);
    box-shadow: rgba(37,37,37,.2) 0;
    opacity: .9;
    -webkit-transition: box-shadow .3s,top .3s,opacity .2s;
    -moz-transition: box-shadow .3s,top .3s,opacity .2s;
    -o-transition: box-shadow .3s,top .3s,opacity .2s;
    transition: box-shadow .3s,top .3s,opacity .2s;
    padding-right: 40px; 
}
.homepage nav:hover {
    opacity: 1.5;
}

.homepage nav figure{
  margin: 0;
    margin-left: 20px;
    position: absolute;
    top: 0px;
    left: 9px;
}
.jumbotron figure.icon{
   display: inline-block;
}
.jumbotron .icon img{ 
    width: 200px;
    height: 200px;
}
.jumbotron .resume
{
  padding-top: 40px;
  padding-left: 0;
  font-size: 40px;
}
.jumbotron .lg
{
  padding-right: 0;
}
a div img.off{
  display: none;
}

h2{
  font-size: 40px;
  font-weight: 500;
  color: #fff;
}
h3{
  /*text-shadow: 0.85px 0.85px 0.85px #000000;*/
  display: block;
  padding-left: 1em;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.myprojects a .title {
    opacity: 1;
    font-weight: 300;
    font-size: 14px;
    transition: all .2s ease;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: initial;
}
.myprojects a:hover .title {
    color: #5d5d5d;
}
.pr .image{
    opacity: 1;
    text-align: center;
    height: 120px;
    background-color: #e6e6e6;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    transition: all .2s ease;
}
.pr:hover .image{
    opacity: 1;
    background-color:#b3b3b3;
    border-radius: 25px;
  box-shadow: 0 16px 48px rgba(0,0,0,0.25);
    -ms-transform: translateY(-8px);
    transform: translateY(-8px);
}

.me img{
  margin: 0 0 30px;
  width: 100%;  
}
.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #5d5d5d;
  text-shadow: none;
  background-color: #ffffff;
}
.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #5d5d5d;
}

.myprojects a {
  text-decoration: none;
}
.myprojects img.show_hide{
  margin:0;
}
.myprojects{
  display: block;
  padding-top: 2em;
}
.contactme{
  padding-top: 2em;
}
#contact-form label {
    position: absolute;
    top: 15px;
    left: 0;
}
.contactme fieldset{
  display: block;
  padding-top: 1.5em;
}
label {
    cursor: default;
}
#contact-form .name, #contact-form .email {
    padding-left: 63px;
    padding-right: 42px;
    border-bottom: 2px solid #5d5d5d;        
}
#contact-form .message {
    width: 100%;
    padding-left: 90px;
}
#contact-form .send-button {
    position: relative;
}
#contact-form .inp-grp {
    position: relative;
    float: left;
}
#contact-form input, #contact-form textarea {
    background: none;
    width: 100%;
    border: 0;    
    padding-top: 10px;
    padding-bottom: 15px;
          
}
#contact-form .send-button input {
    background-position: 14px center;
        background-repeat: no-repeat;
    display: block;
    background-color: #5d5d5d;
    color: white;
    width: 70px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 0.5;
    border-radius: 5%;
    position: relative;
    top: 0;
}

button, input, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

.send-button{
  padding: 0;
  position: absolute;
  top: 1em;
}
.contactme .end{
  padding-top: 7em;
  position: relative;
  bottom: 0;
}


@media only screen and (min-width: 320px) {
    body{
      background-image:none;
      background-color: #000000;
      color: white;
      font-family: 'Quicksand', sans-serif;
      font-weight: 300;
    }
    h1 {
      z-index: 2;
  font-size: 30px;
  padding: 0;
  margin: 0;
  color: #fff;
}
.jumbotron{
  background: rgba(0, 0, 0, 0);
  padding-top: 4em;
  padding-bottom: 4em;
}
.jumbotron h1 {
  font-size:40px;
  margin: 0 0 10px;
}
.jumbotron h2 {
  font-size:30px;
  margin: 0 0 20px;
}

  div.row.div-projects{
    padding-top:2em; 
    padding-bottom: 2em;
  }
  .aboutme .me{ 
    display: block;
    padding-top: 0;
  }
  .aboutme div.info{
  display: block;
  padding: 2em;
  padding-top: 3em;
}
  .aboutme .ty{
    margin-top: 1em;
    padding-bottom: 2em;
  }
  .aboutme .myimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height:80%;
  width:80%;
}
    div#bnavigation a{
      font-size: 16px;
      color: #746F6C;
      text-decoration: none;
    }
    div.col-sm-8.text-right{
      padding-left: 2em;
      padding-right: 0em;
    }
    
    li.e a{
      padding-top: 0;
      padding-bottom: 0;
    }
    .myprojects h3.title{
      color: #a3a3a3;
      font-size: 14px;
}

.hamburger{
  background:none;
  position:absolute;
  top:1.5em;
  right:1em;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0.5em;
  right:0.5em;
  padding:13px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{ 
  z-index:1; 
  font-weight:bold; 
  font-size:0.8em; 
  width:100%; 
  background:#5d5d5d;  
  position:absolute; 
  text-align:center;
}
.menu ul {
  margin: 0; 
  padding: 0; 
  list-style-type: none; 
  list-style-image: none;
}
.menu li {
  display: block;   
  padding:15px 0 15px 0; 
  border-bottom:#1d1f20 1px solid;
}
.menu li:hover{
  display: block;    
  background: #c1c1c1; 
  padding:15px 0 15px 0; 
  border-bottom:#1d1f20 1px solid;
}
.menu ul li a { 
  text-decoration:none;  
  margin: 0px; color:#fff;
}
.menu ul li a:hover {  
  color: #fff; 
  text-decoration:none;
}
.menu a{
  text-decoration:none; 
  color:white;}
.menu a:hover{
  text-decoration:none; 
  color:white;
}

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}

}
@media only screen and (min-width: 425px) {
    .aboutme .myimg{
      margin-left: auto;
      margin-right: auto;
    }
    div.col-sm-8.text-right{
      padding-left: 5em;
    }
    figure #header{
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
@media screen and (max-width: 700px) {
    nav ul{
      display: none;
    }
    .homepage img.logo{
      width: 96px;
      height: 107.2px;
    }

}
@media screen and (min-width: 700px) {
    .homepage .menu,
    .homepage .header{
      display: none;
    }
 .homepage nav figure
{
  position: fixed;
  z-index: 3;
}   
.jumbotron{
  background: rgba(0, 0, 0, 0);
  padding-top: 40%;
  padding-bottom: 30%;
}
.jumbotron h1 {
  font-size:40px;
  margin: 0 0 10px;
}


}
@media only screen and (min-width: 768px) {
body
 {
  background-color: white;
  
}
.bg {
  background: url('../images/pencil.png') repeat;
  position: fixed;
  width: 100%;
  height: 400%;
  top:0;
  left:0;
  z-index: -1;
}
.homepage #overall{
  background-color: #e6e6e6;
  padding:  2em;
  border:1px solid #e6e6e6;
  border-radius: 25px;
  box-shadow: 0 16px 48px rgba(0,0,0,0.25);
    -ms-transform: translateY(-8px);
    transform: translateY(-8px);
}
h1 {
  font-size: 60px;
  font-weight: 700;
  /*padding: 20px 0px;*/
  margin: 0;
}

.aboutme div.info{
  padding:0;
  padding-top: 1em;
}
.aboutme .ty{
    margin-top: 3em;
    padding: 1em;  }
.aboutme .me{ 
  display: block;
  padding:2em;
  margin-top: 6em;
  margin-bottom: 4em;
}
.aboutme .myimg{
  height:80%;
  width:80%;
}
.myprojects h3.title{
      font-size: 16px;
}
    div.col-sm-8.text-right{
      padding-left: 7.5em;
    }
div.div-projects{
    padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
}
}
@media only screen and (min-width: 1024px) {
.jumbotron{
  background: rgba(0, 0, 0, 0);
  padding-top: 20%;
}
html{
  height: 100%;
}
.contactme{
  height: 70%;
}
  .aboutme div.info{
  padding:0;
  padding-top: 7em;
}
  .aboutme .myimg{
  height:70%;
  width:70%;
}
}
}