@font-face{
  font-family: 'Centurygothic';
  src: url('ufonts.com_century-gothic.ttf') format('truefont');
  font-family: 'BaskervilleOldFace';
  src: url('ufonts.com_baskerville-old-face.ttf') format('truefont');
  font-family: 'Calibri W01 Light';
  src: url("raleway_thin-webfont.ttf") format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/

}
.section{
  max-width: 1280px;
    padding-bottom: 7.5rem;
    margin-left: auto;
    margin-right: auto;
}
.homepage, html{
  height:100%;
  font-family: 'Centurygothic';
  color: #ffffff;
}
.myprojects{
  height: 100%;
} 
.homepage header{
  position: fixed;
  z-index: 3;
}
.homepage .menu
{
  display: block;
}
.homepage .menu-link{
  display: block;
    padding: 20px 0;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    background-repeat: no-repeat;
    color: #ffffff;
}
.homepage div .col-sm-4{
  padding-left: 0;
}
.aboutme,
.contactme
{
  height:100%;
  background-color: #e6e6e6;
  font-size: 15px;
  font-family: sans-serif;
  color: #5d5d5d;
}
.contactme{
  height: 70%;
}
ul li,
div a img.sm{
  display: inline;
}
div a img.sm,
div a img.sm_on,
div a img.sm_off{
  width: 32px;
  height: 32px;
  margin-top: 0;
  margin-left: 1.5em;
  margin-right: 1em;  

}
.sm_off, .sm:hover .sm_on{
   display:none
}
.sm_on, .sm:hover .sm_off{
   display:inline-block
}

.aboutme h1,h2,ul{
  text-align: center;
}

.aboutme h2.col-sm-12{
  margin-top: 0;
  margin-bottom: 0.7em;
}
.aboutme p{
  margin-bottom: 2em;
}

.logo{
  padding-top: 1em;
  padding-left: 0;
  height: 30%;
  width: 30%;   
}

.homepage nav{
    z-index: 1;
    position: fixed;
    right: 2rem;
    top: 20px;
    text-align: right;
}
.homepage span{
    display: inline-block;
    opacity: 0;
    font-size: 1.5rem;
    transition: all .2s ease;
      transition-property: all;
      transition-duration: 0.5s;
      transition-timing-function: ease;
      transition-delay: initial;
    padding-right: 10px;
    top: -5px;
    position: relative;
    color: #5d5d5d;
}
.homepage .menu-link:hover span{
    opacity: 1;
}
.homepage .bulb{
    display: inline-block;
    text-align: center;
}
a div img.off{
  display: none;
}
a:visited{ 
  color: rgba(0,0,0,0);
  opacity: 1;
}

header a {
  padding:0px 20px;
  margin: 0;
}

h2{
  font-size: 40px;
  font-weight: 500;
  color: #fff;
}
h3{
  /*text-shadow: 0.85px 0.85px 0.85px #000000;*/
  display: block;
  padding-left: 1em;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.myprojects a .title {
    opacity: .5;
    font-weight: 300;
    font-size: 14px;
    transition: all .2s ease;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: initial;
}
.myprojects a:hover .title {
    opacity: 1;
}
.pr .image{
    opacity: 1;
    text-align: center;
    height: 120px;
    background-color: #5d5d5d;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    transition: all .2s ease;
}
.pr:hover .image{
  opacity: 1;
    background-color:#6e6e6e;
}
.jumbotron{
  background: rgba(0, 0, 0, 0);
  padding-top: 20%;
}
.jumbotron h2 {
  font-size:40px;
  margin: 0 0 20px;
}
.me img{
  margin: 0 0 30px;
  width: 100%;  
}
.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #5d5d5d;
  text-shadow: none;
  background-color: #ffffff;
}
.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #5d5d5d;
}

.myprojects a {
  text-decoration: none;
}
.myprojects img.show_hide{
  margin:0;
}
.myprojects{
  display: block;
  padding-top: 2em;
}
.contactme{
  padding-top: 2em;
}
#contact-form label {
    position: absolute;
    top: 15px;
    left: 0;
}
.contactme fieldset{
  display: block;
  padding-top: 1.5em;
}
label {
    cursor: default;
}
#contact-form .name, #contact-form .email {
    padding-left: 63px;
    padding-right: 42px;
    border-bottom: 2px solid #5d5d5d;        
}
#contact-form .message {
    width: 100%;
    padding-left: 90px;
}
#contact-form .send-button {
    position: relative;
}
#contact-form .inp-grp {
    position: relative;
    float: left;
}
#contact-form input, #contact-form textarea {
    background: none;
    width: 100%;
    border: 0;    
    padding-top: 10px;
    padding-bottom: 15px;
          
}
#contact-form .send-button input {
    background-position: 14px center;
        background-repeat: no-repeat;
    display: block;
    background-color: #5d5d5d;
    color: white;
    width: 70px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 0.5;
    border-radius: 5%;
    position: relative;
    top: 0;
}

button, input, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

.send-button{
  padding: 0;
  position: absolute;
  top: 1em;
}
.contactme .end{
  padding-top: 7em;
  position: relative;
  bottom: 0;
}


@media only screen and (min-width: 320px) {
    body{
      background-image:none;
      background-color: #000000;
      color: white;
      font-family: 'Helvetica', sans-serif;
      font-weight: 300;
    }
    h1 {
      z-index: 2;
  font-size: 30px;
  padding: 0;
  margin: 0;
  color: #fff;
}
  div.row.div-projects{
    padding-top:2em; 
    padding-bottom: 2em;
  }
  .aboutme .me{ 
    display: block;
    padding-top: 0;
  }
  .aboutme div.info{
  display: block;
  padding: 2em;
  padding-top: 3em;
}
  .aboutme .ty{
    margin-top: 1em;
    padding-bottom: 2em;
  }
  .aboutme .myimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height:80%;
  width:80%;
}
    div#bnavigation a{
      font-size: 16px;
      color: #746F6C;
      text-decoration: none;
    }
    div.col-sm-8.text-right{
      padding-left: 2em;
      padding-right: 0em;
    }
    
    li.e a{
      padding-top: 0;
      padding-bottom: 0;
    }
    .myprojects h3.title{
      color: #a3a3a3;
      font-size: 14px;
}
}
@media only screen and (min-width: 425px) {
    .aboutme .myimg{
      margin-left: auto;
      margin-right: auto;
    }
    div.col-sm-8.text-right{
      padding-left: 5em;
    }
    header#header{
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
@media only screen and (min-width: 768px) {
body
 {
  background: url("../images/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-attachment: fixed;
  max-width: 100%;
  overflow-x: hidden;
  font-size: 20px;
  /*text-shadow: 0.5px 0.5px 0.5px #000000;*/
}
h1 {
  font-size: 60px;
  font-weight: 700;
  padding: 20px 0px;
  margin: 0;
}
.aboutme div.info{
  padding:0;
  padding-top: 1em;
}
.aboutme .ty{
    margin-top: 3em;
    padding: 1em;  }
.aboutme .me{ 
  display: block;
  padding:2em;
}
.aboutme .myimg{
  height:80%;
  width:80%;
}
.myprojects h3.title{
      font-size: 16px;
}
    div.col-sm-8.text-right{
      padding-left: 7.5em;
    }
div.div-projects{
    padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
}
}
@media only screen and (min-width: 1024px) {
  .aboutme div.info{
  padding:0;
  padding-top: 7em;
}
  .aboutme .myimg{
  height:70%;
  width:70%;
}
}