h1.projectheading{
font-size: 40px;
}
.back{
	font-size: 16px;
}
div.col-sm-12.title-bottom{
display: flex;	
align-items: center;
justify-content: center;
}
div.project-wrapper{
	align-items: center;
	margin: 1em;
	padding:1em;  	
}
div.row{
	margin:1em;
}
.item{
	background: rgba(255, 255, 255, 0.6);  
	align-items: center;
	margin: 0 0 30px;
	padding: 1em;
}
#bfooter{
      background: rgba(255, 255, 255, 0);
      font-size: 16px;
}

footer.col-sm-6.text-right {
    display: inline-block;
    justify-content: flex-end;
}

@media only screen and (min-width: 320px) {
		header a{
			color: #746F6C;
		  	text-decoration: none;
		}
		#bfooter div.row {
			padding: 0;
			margin:0; 
		}
		#bfooter a{
			color: #746F6C;
		  	text-decoration: none;
		}
}
@media only screen and (min-width: 768px) {
		header a{
			color: #ffffff;
		  	text-decoration: none;
		}
		header a:hover{
			color: #746F6C;
		    text-decoration: none;
		}
		#bfooter a{
			color: #ffffff;
		  	text-decoration: none;
		}
		#bfooter a:hover{
			color: #746F6C;
		    text-decoration: none;
		}
		.item{
			display: inline-block;
			width: 40%;
			height: 40%;
			margin-left: 6.5%;
		}

}