@font-face{
  
}
body {
	background-color: #e6e6eb;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 15px;
	text-decoration: none;
}
#wrapper{
	background-color: white;
	position: relative;
  padding:  2em;
  border:1px solid #e6e6e6;
  border-radius: 25px;
  margin-top: 3em;
  height: 100%;
  box-shadow: 0 16px 48px rgba(0,0,0,0.25);
    -ms-transform: translateY(-8px);
    transform: translateY(-8px);
}

.project-desc-title h1 {
	color: black;
	font-size: 50px;
	margin-top: 80px;
    margin-bottom: 80px;
    width: 90%;
    margin-left: 5%;
    font-weight: 600;
}

.project-desc-title h1, .project-intro, .project-mob-title {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

.project-infos {
	width: 100%;
	display: block;
	color: black;
    margin-left: auto;
    margin-right: auto;
    max-width: 740px;
}
.project-description, 
.project-right {
	color: black;
    font-size: 16px;
    line-height: 27px;
    font-family: 'Quicksand',sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.method{
	padding-right: 0;
}
.ng-binding{
	margin-left: auto;
    margin-right: auto;
}
.project-desc-title h2{
	margin-top: 1.5em;
    margin-bottom: 1em;
    font-weight: 600;
	font-size: 30px;
	color: #FCB41C;
	padding-left: 1.7em;
}
#intro{
	margin-bottom: 130px;
	margin-top: 10px;
}
.project-link {
    margin-top: 35px;
}
.project-right {
	padding-right: 0;
}
.project-description{
	padding-left: 0;
}
.r-item {
	margin-left: 3em;
    margin-bottom: 30px;
}
.r-item-name {
    margin-bottom: 0;
}
.project-link a, .r-item-name {
    font-size: 15px;
    font-family: 'Quicksand',sans-serif;
    font-weight: bold;
    text-decoration: none;
    
}
.project-link a{
	color: #5d5d5d;
}
.project-link a:hover{
	color: #FCB41C;
}
.book-overview {
	padding-top: 2em;
}
.end{
	margin-bottom: 4em;
}
.heading3 h3{
	font-size: 20px;
	font-family: 'Josefin Sans',sans-serif;
	font-weight: 600;
	margin-top: 1.5em;
	margin-bottom:0;
	padding-left: 0;

}
.heading3{
	padding: 0;
}

.image-wrapper{
	padding-top:2em;
}
ul
{
	padding-left: 0;
list-style-type: none;
}


h1.projectheading{
	margin:0;
	font-size: 35px;
}
.intro p{
	font-family: 'Quicksand', sans-serif;
	color: #858794;
	font-size: 15px;
	font-weight: lighter;
}
.idhatshop .intro p{
	color: #d6a7b1;
}
.idhatshop div#feature2,
.openair div#feature2,
.umsi div.web,
.alphabet div#feature2{
	padding-top: 0;
}
.saa div#feature2{
	padding-top: 1em;
	padding-bottom: 2em;
}
.idhatshop #feature2 h3,
.openair #feature2 h3,
.umsi .web h3{
	margin-top: 1em;
	margin-bottom: 0;
}
.openair .intro p{
	color: #577599;
}
.openair h4{
	margin-top: 0;
	margin-bottom: 1em;
	color: #5d5d5d;
}
.openair img,
.info #poster img,
.alphabet img,
.umsi img{
	transition: all .25s ease-in-out;
	display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 12px 32px rgba(0,0,0,0.25);
}
.openair img:hover,
.info #poster img:hover,
.alphabet img:hover,
.umsi img:hover{
	box-shadow: 0 16px 48px rgba(0,0,0,0.25);
    -ms-transform: translateY(-8px);
    transform: translateY(-8px);
}
.umsi .intro p{
	color: #393939;
}
.alphabet .intro p{
	color: #377275;
}
.saa .intro p{
	color: #B88037;
}
.info .intro p{
	color: #5d5d5d;
}
.intro b{
	font-weight: 500;
	font-size: 14px;
}
.content p,
.content ul,
.saa #feature2 ul,
.ab p{
	font-family: 'Quicksand',sans-serif;
	font-weight: lighter;
}
div .aab{
	padding-top: 3em;
}
div .text{
	line-height: 1.5;
}
div.project-wrapper{
	align-items: center;
	margin: 1em;
	padding:1em;  	
}
div.row{
	margin:2em;
}
div .aaa{
	padding-top: 3em;
}
.item{
	background: rgba(255, 255, 255, 0.6);  
	align-items: center;
	margin: 0 0 30px;
	padding: 1em;
}
.item img{
	width:100%;
	height:100%;
}

@media only screen and (min-width: 320px) {
	#id-cp, #bm-ov{
	width: 100%;
	height: 100%;
	}
	div .contact p{
		margin-top:2em;
		margin-left: 30%; 
	}
	div .aab{
	padding-top: 0;
	}
	div .ab{
		height: 100%;
		background-color: white;
	}
	.ab div.text-center{
		padding: 1em;
	}
	div #feature2{
		background-color: #858794;
	}
	div #guide{
		background-color: #E1CFAA;
		padding-bottom: 2em;
	}
	.ac iframe{
		width:193.024px;
		height:341.504px;
	}
	.footer{
	padding-bottom: 2em;
	}
	.prev, .next{
		display: inline-block;
	}
	.prev{
		padding-left: 2em;
		float: left;
	}
	.next{
		padding-right: 2em;
		float: right;
	}
		header a{
			color: #746F6C;
		  	text-decoration: none;
		}

		.footer a{
			color: #FCB41C;
		  	text-decoration: none;
		}
	#guide img{
		width: 100%;
		height: 100%;
		padding: 1em;
	}
	#guide h3{
		margin:0;
		margin-top:1em;
	}
	.ac iframe{
		padding: 1em;
	}
}
#play{
	z-index: 3;
	position: absolute;
	left: 5%;
}
@media only screen and (min-width: 425px) {
	
	.bookmap #guide img{
		width: 70%;
		height: 70%;
	}
	.alphabet #feature2 img{
		width: 255px;
		height: 226.66px;
	}
	.footer a{
		font-size: 16px;
	}
}
@media only screen and (max-width: 600px) {
	
	h1.projectheading{
		font-size: 25px;
		
	}
	div.row.aaa{
		
		margin:0;
	}
}
@media only screen and (min-width: 768px) {
	#id-cp{
	width: 310px;
	height: 142.57px;
	}
	#bm-ov{
		width: 305px;
		height: 194.16px;
	}
	div .contact p{
		margin-top:0;
	}
	div .intro{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-left: 3em;
	}
	div .ab{
	display: block;
	align-items: center;
	padding-top: 4em;
	padding-bottom: 4em;
	}
	div .aab{
	padding-top: 3em;
	}
	.ac iframe{
		width:301.6px;
		height:533.6px;
	}
	div .ac,
	div #guide{
	padding-top: 4em;
	padding-bottom: 4em;	
	}
	#guide h3{
		margin:0;
	}
	.prev, .next {
    position: fixed;
    bottom: -50px;
    width: 320px;
    font-size: 1.3rem;
    transition: all .2s ease;
	}
	.prev {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: left top;
    transform-origin: left top;
    text-align: right;
	}
	.next {
    right: 0;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: right top;
    transform-origin: right top;
	}
	.prev a, .next a{
		display: block;
    color: rgba(0, 0, 0, 0.6);
    padding: 30px;
    transition: all .2s ease;
	}
		header a{
			color: #ffffff;
		  	text-decoration: none;
		  	transition: all .2s ease;
		}
		header a:hover{
			color: #5d5d5d;
		    text-decoration: none;
		}
		.footer a{
			color: #5d5d5d;
		  	text-decoration: none;

		}
		.footer a:hover{
			color: #FCB41C;
		    text-decoration: none;
		   
   
		}
		.item{
			display: inline-block;
			width: 40%;
			height: 40%;
			margin-left: 6.5%;
		}
	.bookmap #guide img{
		width: 30%;
		height: 30%;
	}
	#play{
	z-index: 3;
	position: absolute;
	left: 15%;
	}
	.idhatshop #hatshop img{
		width: 648px;
		height: 377.61px;
	}
	.idhatshop #guide img{
		width: 708px;
		height: 515.88px;
	}
	.idhatshop .ac img
	{
		width: 648px;
		height: 486px;
	}
	.idhatshop #tag img{
		width: 630px;
		height: 206.19px;
	}
	.umsi #web1 img{
		width: 648px;
		height: 917.31px;
	}
	.umsi #web2 img{
		width: 648px;
		height: 1251.52px;
	}
	.saa #graph img{
		width: 648px;
		height: 242.34px;
	}
	.saa #chart img{
		width: 648px;
		height: 86.98px;
	}
	.alphabet #al-cp img{
		width: 648px;
		height: 851.36px;
	}
	.alphabet #alphabet img{
		width: 648px;
		height: 990.7px;
	}
	.info #poster img{
		width: 648px;
		height: 1910.03px;
	}

}