<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name='viewport' content="width=device-width initial-scale=1" >
	<title>Books Map APP</title>
	<link rel="icon" href="images/tylogo.png" type="image/x-icon" >
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  	
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

		<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  	
  	<link rel="stylesheet" type="text/css" href="css/homepage.css">
  	<link rel="stylesheet" type="text/css" href="css/projects.css">
  	<link rel="stylesheet" href="dist/css/lightbox.min.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700|Karla|Lora|Questrial|Quicksand:400,500,700" rel="stylesheet">

  	<style type="text/css">
  		nav ul li a.active {
		  background-color: #FCB41C;
		  color: #FFF;
		}
  	</style>

  	<!--<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
  	<script type="text/javascript">
  		$("nav a").each(function() {
            // checks if its the same on the address bar
	        if(url == (this.href)) { 
	            $(this).closest("li").addClass("active");
	        }
	    });
  	</script>-->
  	
</head>
<body >

<div class="homepage" id="bookmap">											
		<div class="bg"></div>
		<nav id="nav">
			<figure><a href="index.html"><img src="images/tylogo.png" class="logo" alt="logo"></a></figure>
			<ul>						
			<li><a class="resume1 menu1" href="others/resume.pdf" target="_blank">Resume.</a></li>		
			<li><a class="projects menu1" href="index.html#projects">Work.</a></li>
			<li><a class="about menu1" href="index.html#aboutme">About.</a></li>
			</ul>
		</nav>

	<div class="header">
  		<button class="hamburger">&#9776;</button>
  		<button class="cross">&#735;</button>
	</div>


	<div class="menu">
	  <ul>
	    <a href="others/resume.pdf" target="_blank"><li>Resume.</li></a>
	    <a href="#projects"><li>Work.</li></a>
	    <a href="#aboutme"><li>About.</li></a>
	  </ul>
	</div>

	
	<div class="container">
    <div class="row">
      <div class="col-sm-1"></div>

      <div class="col-sm-10 " id="wrapper">
      			
          <div class="project-desc-title col-sm-12"><h1 class="ng-binding">BooksMap Mobile APP</h1></div>	

          <div class="col-sm-12 project-infos" id="intro">
              <div class="project-description col-sm-2"></div>
              <div class="project-description col-sm-6">
                  <div ng-bind-html="project.description" class="ng-binding">
                  In this project, I prototyped an application that enables students at the University of Michigan to find inexpensive used books, or sell unneeded books to others. This application ahs three unique features: using a map to locate nearby users and facilitate contact and know them; providing 2 options for users to post or search information via <i>Have</i> or <i>Need</i> ; paying with money or creative ways such as a dinner or a movie, etc.
                  </div>
                  <div class="project-link">
                    <a href="https://www.youtube.com/watch?v=8U8j79iUPuw&t=3s" target="_blank">
                      <!--<img class="video-picto ng-scope" ng-if="project.node_name=='abc-de-l-homme'||project.node_name=='reborn'" src="images/svg/icone_film.svg">-->
                      <div class="p-link-t ng-scope" ng-if="project.node_name=='abc-de-l-homme'||project.node_name=='reborn'">
                        <span ng-if="global.lang=='en'" class="ng-scope">See Paper Prototype.</span>
                      </div>
                    </a>
                  </div>
              </div>

              <div class="project-right col-sm-4">

                <div class="r-item ng-scope" ng-if="project.client!=null"> 
                    <div class="r-item-name">
                      Target Population 
                    </div>
                    <span ng-bind-html="project.client" class="ng-binding">
                      Students in Umichigan
                    </span>
                </div>

                <div class="r-item ng-scope" ng-if="project.support.length>0"> 
                    <div class="r-item-name">
                      Skill
                    </div>
                    <div class="p-support ng-binding ng-scope" ng-repeat="s in project.support"> 
                      Interaction Design.<br>Paper Prototyping.<br>Storyboarding. 
                    </div>
                </div>

                <div class="r-item ng-scope" ng-if="project.role.length>0">
                  <div class="r-item-name">
                    <span ng-if="global.lang=='en'" class="ng-scope">
                      Tool
                    </span>
                  </div> 
                  <div class="p-role ng-binding ng-scope" ng-repeat="r in project.role">
                    Adobe XD.
                  </div>
                  
                </div>

              </div>
          </div>
          <!--INTRO-->

          <div class="project-desc-title col-sm-12 ">
            <div class="project-description col-sm-1"></div>
            <h2 class="ng-binding col-sm-11 text-left">Problem Statement</h2>
          </div> 

          <div class="col-sm-12 project-infos">
              <div class="project-description col-sm-2"></div>
              <div class="project-description col-sm-10">
                  <div ng-bind-html="project.description" class="ng-binding">
                  Students often find books through three methods: borrowing in libraries, buying in bookstores or purchasing online. However, books in libraries are often in short supply, those in bookstores might be expensive, and it takes time for shipping if purchased online. What if students want to get books instantly and at low cost? Ai the same time, there are some students who want to get rid of unneeded books. So how could those students connect with each other?
                  </div> 
              </div>      
          </div>


          <div class="project-desc-title col-sm-12 ">
            <div class="project-description col-sm-1"></div>
            <h2 class="ng-binding col-sm-11 text-left">Solution Overview</h2>
          </div>

          <div class="col-sm-12 project-infos">
              <div class="project-description col-sm-2"></div>
              <div class="project-description col-sm-10">
                  <div ng-bind-html="project.description" class="ng-binding">
                  I am providing students access to inexpensive books while providing others an outlet for their unneeded books. I designed an application which allows both groups to share the information of books they have/want, prices they feel comfortable with and a good location to exchange the books. This application allows them to reach the nearest users and connect with them.
                  <br>This application works best when there are a lot of users, so I decided to firstly narrow down the community to just students on campus, where a large amount of students live. To avoid the problem of users not finding books and never coming back to use this APP again, I give users alternative option to post their needs first. Additionally, in order to attract more users and make this platform interesting, I will add one feature that users can pay with money or creative ways such as a dinner or a movie, etc.
                  </div>
              </div>      
          </div>


          <div class="project-desc-title col-sm-12 ">
            <div class="project-description col-sm-1"></div>
            <h2 class="ng-binding col-sm-11 text-left">Walkthrough</h2>
          </div>

          <div class="col-sm-12 project-infos">
              <div class="project-description col-sm-2"></div>
              <div class="project-description col-sm-10">
                  <div ng-bind-html="project.description" class="ng-binding">
                   Users can sell or purchase books through two main methods: one is their interests and the other is searching on the map. During this process, they can sort the information by time, by price or by proximity in dropdown menu.  
                  </div>
                  <div class="col-sm-12 text-center book-overview">
                    <img src="images/overview.png" id="bm-ov">
                  </div>
                  <div class="col-sm-12 heading3">
                    <h3>KEY FEATURE 1: Interests.</h3><br>
                   Users will be asked to selet their topics of interest when registering. This information is used to tailor their homepage. On the homepage, users can scroll down to see all interests or swipe to see all the books under this interest. Of course they can edit and check each.
                    <font color="#5d5d5d" face='Lora' size="3">&nbsp;&nbsp;(click on images)</font>  
                  </div>
                      <div class="col-sm-6 col-md-4 text-center image-wrapper">
                        <a  href="images/home1.png" data-lightbox="example-set" data-title="Find your interests"><img width="154.42" height="273.2" src="images/home1.png" alt="#"/></a>
                        <br><br><i>Find your interests.</i>
                      </div>
                      <div class="col-sm-6 col-md-4 text-center image-wrapper">
                        <a  href="images/home2.png" data-lightbox="example-set" data-title="Tailered Homepage depends on your interests" ><img width="154.42" height="273.2" src="images/home2.png" alt="#"/></a>
                        <br><br><i>Tailored Home Page.</i>
                      </div>
                      <div class="col-sm-6 col-md-4 text-center image-wrapper">
                        <a  href="images/home3.png" data-lightbox="example-set" data-title="interests Edit Page" ><img width="154.42" height="273.2" src="images/home3.png" alt="#"/></a>
                        <br><br><i>Interests Edit Page.</i>
                      </div>

                  <div class="col-sm-12 heading3">
                    <h3>KEY FEATURE 2: Map.</h3><br>
                   When they have chosen one book from the bookshelf, users are led to a list of all the users who have the book. With a click on the map icon, the location of those users will be shown. They then can see details of each individual book.
                    <font color="#5d5d5d" face='Lora' size="3">&nbsp;&nbsp;(click on images)</font>  
                  </div>
                      <div class="col-sm-6 col-md-4 text-center image-wrapper">
                        <a  href="images/map1.png" data-lightbox="example-set" data-title="List of all users who have the book."><img width="154.42" height="273.2" src="images/map1.png" alt="#"/></a>
                        <br><br><i>User List Page.</i>
                      </div>
                      <div class="col-sm-6 col-md-4 text-center image-wrapper">
                        <a  href="images/map2.png" data-lightbox="example-set" data-title="Map of all the users' location."><img width="154.42" height="273.2" src="images/map2.png" alt="#"/></a>
                        <br><br><i>Map Page.</i>
                      </div>
                      <div class="col-sm-6 col-md-4 text-center image-wrapper">
                        <a  href="images/map3.png" data-lightbox="example-set" data-title="Distance shown on each interface of individual book." ><img width="154.42" height="273.2" src="images/map3.png" alt="#"/></a>
                        <br><br><i>Book Info Page.</i>
                      </div>
    
                  <div class="col-sm-12 heading3">
                    <h3>KEY FEATURE 3: Information Sorting.</h3><br>
                   Users can sort information listed below by their price, update time or proximity. Then all the information will be reordered.
                    <font color="#5d5d5d" face='Lora' size="3">&nbsp;&nbsp;(click on images)</font>  
                  </div>
                      <div class="col-sm-6 text-center image-wrapper">
                        <a  href="images/sort1.png" data-lightbox="example-set" data-title="Dropdown Menu."><img width="193px" height="432.89px" src="images/sort1.png" alt="#"/></a>
                        <br><br><i>Dropdown Menu.</i>
                      </div>
                      <div class="col-sm-6 text-center image-wrapper">
                        <a  href="images/sort2.png" data-lightbox="example-set" data-title="Book List after sorting."><img width="193px" height="432.89px" src="images/sort2.png" alt="#"/></a>
                        <br><br><i>Book List after sorting.</i>
                      </div>
              </div>      
          </div>
          

          <div class="project-desc-title col-sm-12 ">
            <div class="project-description col-sm-1"></div>
            <h2 class="ng-binding col-sm-11 text-left">Design Process</h2>
          </div>

          <div class="col-sm-12 project-infos">
              <div class="project-description col-sm-2"></div>
              <div class="project-description col-sm-10">
              
                  <div class="col-sm-12 heading3">
                    <h3>Initial Design.</h3><br>
                   The initial design of my application also had a function that allows users to rent and borrow books from libraries that have a bookshelf for used books and a librarian who is in charge. Information on books is also provides on the APP together with proximity. This application also provides book information from libraries and bookstores as alternatives to compare prices and quality at the same time. This idea was generated from one of my sketches (Figure 1).
                  </div>
                  <div class="col-sm-12 text-center book-overview">
                    <img src="images/storyboard.png" width="100%" height="100%">
                    <br><br><i>Figure 1. Sketch in 8 solutions’ storyboard</i>
                  </div>
                  <div class="col-sm-12 heading3">
                    <h3>Critical Features.</h3><br>
                   <ul class="list">
                     <li>&bull;&nbsp;&nbsp;Directly connect users who need books with those who can provide idled second-hand books</li><br>
                     <li>&bull;&nbsp;&nbsp;Provide information retrieving feature of “Second-hand Books Library”</li><br>
                     <li>&bull;&nbsp;&nbsp;Provide information of the same books from school libraries and bookstores</li><br>
                   </ul>
                  </div>
                  <div class="col-sm-12 heading3">
                    <h3>Reflection.</h3><br>
                   According to the reading the Design of Everyday Things by Donald A.Norman, well-designed products should be clearly used with lessinstructions or even without any text-based information. Just thevisual, acoustic information themselves, being consistent with as many as possible of the four constraints, are enough to guide users to utilize them properly. I can’t agree more on Donald’s standpoint, so consider it as my most important design philosophy.
                   <br>However, it is hard to achieve. After I built my paper prototypes(Figure 2 & 3) and showed them to my peers, they felt really confusedabout each feature, even though I explained all the time. Good design should be introductions the products themselves, but I explained a lot because they were way too much complex.
                  </div>

                      <div class="col-sm-12 text-center image-wrapper">
                        <a  href="images/figure2.png" data-lightbox="example-set" data-title="Find your interests"><img width="90%" height="90%" src="images/figure2.png" alt="#"/></a>
                        <br><br><i>Figure 2. Too much content in one page and a lot of text near each button</i>
                      </div>
                      <div class="col-sm-12 text-center image-wrapper">
                        <a  href="images/figure3.png" data-lightbox="example-set" data-title="Tailered Homepage depends on your interests" ><img width="90%" height="90%" src="images/figure3.png" alt="#"/></a>
                        <br><br><i>Figure 3. Crowed layout makes users hard to understand</i>
                      </div>

                  <div class="col-sm-12 heading3">
                    <h3>Changes.</h3><br>
                   It’s easy to get lost when designing the features of application, adding tedious details and redundant function buttons or pages, which I think would be necessary for users. But, that’s not true, because that’s the application design for designer myself, not users.
                   <br>Only this one feature- share books with peers- already keeps this application complex, therefore, I decide to abandon the idea of “Second-hand Books Library” and keep the feature of “compare with other resources” as one simple button. I made this decision is not only because it follows my design philosophy, but also because a lot of target users and peers think it’s unnecessary.
                   <br>After showing my paper prototypes to my peers and target users, I got a lot of feedbacks from them and added those buttons or indicators which I think proper right after they recommended. For example, I added slider on homepage (Figure 4) and I changed the drawer-shape menu to hamburger menu (Figure 5), which takes less space and wouldn’t cause confusion.
                  </div>
                      <div class="col-sm-6 col-md-4 text-center image-wrapper">
                        <a  href="images/figure4.png" data-lightbox="example-set" data-title="List of all users who have the book."><img width="154.42" height="273.2" src="images/figure4.png" alt="#"/></a>
                        <br><br><i>Figure 4. Homepage Sketch</i>
                      </div>
                      <div class="col-sm-6 col-md-4 text-center image-wrapper">
                        <a  href="images/figure5.png" data-lightbox="example-set" data-title="Map of all the users' location."><img width="154.42" height="273.2" src="images/figure5.png" alt="#"/></a>
                        <br><br><i>Figure 5. “Want” page</i>
                      </div>
                      <div class="col-sm-6 col-md-4 text-center image-wrapper">
                        <a  href="images/figure6.png" data-lightbox="example-set" data-title="Distance shown on each interface of individual book." ><img width="154.42" height="273.2" src="images/figure6.png" alt="#"/></a>
                        <br><br><i>Figure 6. “Have” page</i>
                      </div>
                  <div class="col-sm-12 heading3">
                   One main change that I made, which was suggested by several users, was I added one page to show all the user who have/want this book when clicking the book image on homepage, instead of leading to individual book page which posted by one user each time. Because of this change, I simultaneously moved some buttons (Figure 4.location button and user profile button) from homepage to this page (Figure 5 & 6), making homepage much more clean and simple.
                   <br>Another main change that I made was I added “Want or Have” (Figure 5 & 6) option for users. It is hard to let this application work if there are only few users, because only if there are enough users, there would be enough books. Imagine if you wanted to find one book on this App, but found there was no one posted any information about this, you would feel frustrated. But if you have tried several times, things are still the same, you would feel disappointed and never turn back. In order to avoid this happening, I provide users the option of choosing “Want” as your purpose, which means even if there is no one “Have” this book right now, users can post needs first and let others to search their needs.
                  </div>    

                  
            </div>      
          </div>
                        

            
          <div class="project-desc-title col-sm-12 ">
            <div class="project-description col-sm-1"></div>
            <h2 class="ng-binding col-sm-11 text-left">Final Design</h2>
          </div>

          <div class="col-sm-12 project-infos">
              <div class="project-description col-sm-2"></div>
              <div class="project-description col-sm-10">
              
                  <div class="col-sm-12 heading3 text-center">
                  <h3>PLAY NOW!</h3><br>
                  </div>
                  <div class="col-sm-12 text-center end">                                   
                    <iframe width="180.96" height="320.16" src="https://xd.adobe.com/embed/52c34aa7-11fe-419f-b397-e6dba3baee89/" frameborder="0" allowfullscreen></iframe>
                  </div>
         
            </div>      
          </div>              
                  
              


      </div>

      <div class="col-sm-1"></div>
    </div>
  </div>		


</div>

<div class="footer">
          <div class="prev">
          <a href="book.html">&#x276e;&nbsp;Previous</a>
        </div>
        <div class="next">
          <a href="idhatshop.html">Next &nbsp;&#x276f;</a>
        </div>
    </div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	
  <script src="dist/js/lightbox-plus-jquery.min.js"></script>
	<script type="text/javascript">
  		$(".cross").hide();
		$(".menu").hide();
		$(".hamburger").click(function() {
		$(".menu").slideToggle("slow", function() {
		$(".hamburger").hide();
		$(".cross").show();
		});
		});

		$(".cross").click(function() {
		$(".menu").slideToggle("slow", function() {
		$(".cross").hide();
		$(".hamburger").show();
		});
		});

		$(window).scroll(function(e){
		  parallax();
		});
		function parallax(){
		  var scrolled = $(window).scrollTop();
		  $('.bg').css('top',-(scrolled*0.3)+'px');
		}		
			
  	</script>

</body>
</html>