<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name='viewport' content="width=device-width initial-scale=1" >
	<title>ID Hatshop Logo Design</title>
	<link rel="icon" href="images/tylogo.png" type="image/x-icon" >
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  	<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

		<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  	
  	<link rel="stylesheet" type="text/css" href="css/homepage.css">
  	<link href="//db.onlinewebfonts.com/c/144003a4a173013fbc704e393ee76265?family=Calibri+W01+Light" rel="stylesheet" type="text/css"/>
  	<link rel="stylesheet" type="text/css" href="css/projects.css">
  	<link rel="stylesheet" href="dist/css/lightbox.min.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700|Karla|Lora|Questrial|Quicksand:400,500,700" rel="stylesheet">

  	<style type="text/css">
  		nav ul li a.active {
		  background-color: #FCB41C;
		  color: #FFF;
		}
  	</style>

  	<!--<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
  	<script type="text/javascript">
  		$("nav a").each(function() {
            // checks if its the same on the address bar
	        if(url == (this.href)) { 
	            $(this).closest("li").addClass("active");
	        }
	    });
  	</script>-->
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91008209-1', 'auto');
  ga('send', 'pageview');

</script>
  	
</head>
<body >

<div class="homepage" id="bookmap">											
		<div class="bg"></div>
		<nav id="nav">
			<figure><a href="index.html"><img src="images/tylogo.png" class="logo" alt="logo"></a></figure>
			<ul>						
			<li><a class="resume1 menu1" href="others/resume.pdf" target="_blank">Resume.</a></li>		
			<li><a class="projects menu1" href="index.html#projects">Work.</a></li>
			<li><a class="about menu1" href="index.html#aboutme">About.</a></li>
			</ul>
		</nav>

	<div class="header">
  		<button class="hamburger">&#9776;</button>
  		<button class="cross">&#735;</button>
	</div>


	<div class="menu">
	  <ul>
	    <a href="others/resume.pdf" target="_blank"><li>Resume.</li></a>
	    <a href="#projects"><li>Work.</li></a>
	    <a href="#aboutme"><li>About.</li></a>
	  </ul>
	</div>

	
	<div class="container">
    <div class="row">
      <div class="col-sm-1"></div>

      <div class="col-sm-10 " id="wrapper">
      			
          <div class="project-desc-title col-sm-12"><h1 class="ng-binding">ID Hatshop Logo Design</h1></div>	

          <div class="col-sm-12 project-infos" id="intro">
              <div class="project-description col-sm-2"></div>
              <div class="project-description col-sm-6">
                  <div ng-bind-html="project.description" class="ng-binding">
                  In this projects, I designed a logo for ID Hatshop, a small hatseller who customizes hat for customers. In phase one, I collected other logotypes designed for similar organizations. Then brainstormed, sketched and turned my 3 best sketches into logotype using Adobe Illustrator. In phase two, I finalized my logotype (including typeface) from the 3 sketches in phase one and completed the design. My design also included the typography guide, logotype scalability, mandatory free space guide, 6 variants of color conversions, the logo on the building facade and brand tag design.
                  </div>
                  <div class="project-link">
                    <a href="https://www.facebook.com/ID-Hat-Shop-183357755008390/" target="_blank">
                      <!--<img class="video-picto ng-scope" ng-if="project.node_name=='abc-de-l-homme'||project.node_name=='reborn'" src="images/svg/icone_film.svg">-->
                      <div class="p-link-t ng-scope" ng-if="project.node_name=='abc-de-l-homme'||project.node_name=='reborn'">
                        <span ng-if="global.lang=='en'" class="ng-scope">See ID Hatshop Facebook.</span>
                      </div>
                    </a>
                  </div>
              </div>

              <div class="project-right col-sm-4">

                <div class="r-item ng-scope" ng-if="project.client!=null"> 
                    <div class="r-item-name">
                      Client 
                    </div>
                    <span ng-bind-html="project.client" class="ng-binding">
                      ID Hatshop
                    </span>
                </div>

                <div class="r-item ng-scope" ng-if="project.support.length>0"> 
                    <div class="r-item-name">
                      Skill
                    </div>
                    <div class="p-support ng-binding ng-scope" ng-repeat="s in project.support"> 
                      Graphic Design. 
                    </div>
                </div>

                <div class="r-item ng-scope" ng-if="project.role.length>0">
                  <div class="r-item-name">
                    <span ng-if="global.lang=='en'" class="ng-scope">
                      Tool
                    </span>
                  </div> 
                  <div class="p-role ng-binding ng-scope" ng-repeat="r in project.role">
                    Adobe Illustrator.<br>Adobe Photoshop.
                  </div>
                  
                </div>

              </div>
          </div>
          <!--INTRO-->

          <div class="project-desc-title col-sm-12 ">
            <div class="project-description col-sm-1"></div>
            <h2 class="ng-binding col-sm-11 text-left">Concept</h2>
          </div>

          <div class="col-sm-12 project-infos">
              <div class="project-description col-sm-2"></div>
              <div class="project-description col-sm-10">
                  <div class="col-sm-12 heading3">
                    <h3>Overall Style: Minimalism.</h3><br>
                    As our client wanted to have a clean and modern logo, I tried to simplify the woman on their business card to be more like a logo, and added modern elements on it -- the Monotype Corsiva typeface.                      
                  </div>  
                  <div class="col-sm-12 heading3">
                    <h3>Typeface: Monotype Corsiva.</h3><br>
                   I chose Monotype Corsiva as the font on the logo, a more complex style compared to the rest pf the logo, because I thought a simple logo paired with complex typeface maintains an elequent balance. This typeface also looks hand-written but is more readable, as well as looking modern. The font-size of this signature is 90pt, which is readable but not overemphasized.                      
                  </div>
                  <div class="col-sm-12 heading3">
                    <h3>Color Palette</h3><br>
                   I wanted to design a logo which would be fashionable yet keep some of the original elements from their business card. Looking at their current business card, I loved the color pallete -a mix of dark blue and red colors - and the woman on the card, and then I chose to maintain these elements in a new design.                     
                  </div>
                  <div class="col-sm-12 text-center book-overview">
                    <img width="100%" height="100%" src="images/idHatShop.png" alt="idhatshop">
                    <br><br>
                  </div>                              
              </div>      
          </div>
          

          <div class="project-desc-title col-sm-12 ">
            <div class="project-description col-sm-1"></div>
            <h2 class="ng-binding col-sm-11 text-left">Design Process</h2>
          </div>

          <div class="col-sm-12 project-infos">
              <div class="project-description col-sm-2"></div>
              <div class="project-description col-sm-10">
              
                  <div class="col-sm-12 heading3">
                    <h3>Sketches.</h3><br>
                   After I studied the logotypes of the competitors, I brainstormed and sketched the following rough logotypes (Figure 1).
                  </div>
                  <div class="col-sm-12 text-center book-overview">
                    <img src="images/sketch.png" width="100%" height="100%">
                    <br><br><i>Figure 1. Sketches of rough logotype.</i>
                  </div>
                  <div class="col-sm-12 heading3">
                    <h3>Rough Logotype.</h3><br>
                    I chose 3 logotypes from my sketches and created them in Adobe Illustrator. I used Segoe Script for those logos, becasue the script is stylish. Since the customer wanted something simple but fasionable, I chose a fancy typeface to accompany the simple logo, each logo involved a simple design. If both were simple, it would be dull. 
                  </div>
                      <div class="col-sm-6 col-md-4 text-center image-wrapper">
                        <a  href="images/option1.png" data-lightbox="example-set" data-title="Figure 2. Option I"><img width="100%" height="100%" src="images/option1.png" alt="#"/></a>
                        <br><br><i>Figure 2. Option I</i>
                      </div>
                      <div class="col-sm-6 col-md-4 text-center image-wrapper">
                        <a  href="images/option2.png" data-lightbox="example-set" data-title="Figure 3. Option II"><img width="100%" height="100%" src="images/option2.png" alt="#"/></a>
                        <br><br><i>Figure 3. Option II</i>
                      </div>
                      <div class="col-sm-6 col-md-4 text-center image-wrapper">
                        <a  href="images/option3.png" data-lightbox="example-set" data-title="Figure 4. Option III"><img width="100%" height="100%" src="images/option3.png" alt="#"/></a>
                        <br><br><i>Figure 4. Option III</i>
                      </div>
                  <div class="col-sm-12 heading3">
                    <h3>Phase II.</h3><br>
                   After receiving feedback on the logotype, I decided to keep the elements of red lips and hat covering the lady's eyes and reformed those elementsto a more elegant design, something that would evoke beauty and admiration. Based on the sketch below, I created the final logo. 
                  </div>
                  <div class="col-sm-12 text-center book-overview">
                    <img src="images/sketch1.JPG" width="100%" height="100%">
                    <br><br><i>Figure 5. Finalized sketch</i>
                  </div>
                  <div class="col-sm-12 heading3">
                   <br>Furthermore, I reduced the previous color palette to only two colors (Figure 6), simplifying the message. I also substituted a new typeface -- Monotype Corsiva -- which still belongs to the script family, but is more readable.
                  </div>
                  <div class="col-sm-12 text-center book-overview">
                    <img src="images/color1.png" width="50%" height="50%">
                    <br><br><i>Figure 6. New Color Palette</i>
                  </div>
            </div>      
          </div>
                        
          <div class="project-desc-title col-sm-12 ">
            <div class="project-description col-sm-1"></div>
            <h2 class="ng-binding col-sm-11 text-left">Logotype Guide</h2>
          </div>

          <div class="col-sm-12 project-infos">
              <div class="project-description col-sm-2"></div>
              <div class="project-description col-sm-10">
              
                  <div class="col-sm-12 heading3">
                    <h3>Free Space Guide.</h3><br>
                   I created the free space guide based on 1/6 of the length of the logo width (Figure 7).
                  </div>
                  <div class="col-sm-12 text-center book-overview">
                    <img src="images/guide.png" width="100%" height="100%">
                    <br><br><i>Figure 7. Mandatory free space guide.</i>
                  </div>
                  <div class="col-sm-12 heading3">
                    <h3>Variants of Color Conversions.</h3><br>
                    To visualize alternative color schemes, I created 6 color conversion variants: CMYK on white background (Figure 8); CMYK reversed or adjusted on black background (Figure 9); Grayscale on white background (Figure 10); Grayscale on black background (Figure 11); Black only on white background (Figure 12); White only on black background (Figure 13).
                  </div>
                      <div class="col-sm-6 col-md-4 text-center image-wrapper">
                        <a  href="images/con1.png" data-lightbox="example-set" data-title="Figure 8. CMYK on white background"><img width="100%" height="100%" src="images/con1.png" alt="#"/></a>
                        <br><br><i>Figure 8. CMYK on white BG</i>
                      </div>
                      <div class="col-sm-6 col-md-4 text-center image-wrapper">
                        <a  href="images/con2.png" data-lightbox="example-set" data-title="Figure 9. CMYK adjusted on black background"><img width="100%" height="100%" src="images/con2.png" alt="#"/></a>
                        <br><br><i>Figure 9. CMYK on black BG</i>
                      </div>
                      <div class="col-sm-6 col-md-4 text-center image-wrapper">
                        <a  href="images/con3.png" data-lightbox="example-set" data-title="Figure 10. Grayscale on white background"><img width="100%" height="100%" src="images/con3.png" alt="#"/></a>
                        <br><br><i>Figure 10. Grayscale on white BG</i>
                      </div>
                      <div class="col-sm-6 col-md-4 text-center image-wrapper">
                        <a  href="images/con4.png" data-lightbox="example-set" data-title="Figure 11. Grayscale on black background"><img width="100%" height="100%" src="images/con4.png" alt="#"/></a>
                        <br><br><i>Figure 11. Grayscale on black BG</i>
                      </div>
                      <div class="col-sm-6 col-md-4 text-center image-wrapper">
                        <a  href="images/con5.png" data-lightbox="example-set" data-title="Figure 12. Black only on white background"><img width="100%" height="100%" src="images/con5.png" alt="#"/></a>
                        <br><br><i>Figure 12. Black only on white BG</i>
                      </div>
                      <div class="col-sm-6 col-md-4 text-center image-wrapper">
                        <a  href="images/con6.png" data-lightbox="example-set" data-title="Figure 13. White only on black background"><img width="100%" height="100%" src="images/con6.png" alt="#"/></a>
                        <br><br><i>Figure 13. White only on black BG</i>
                      </div>
                  <div class="col-sm-12 heading3">
                    <h3>Logo on Building Facade.</h3><br>
                   I used Adobe Photoshop to attach one of the 6 variants -- Figure 9. CMYK reversed conversion -- onto ID Hatshop's actual building facade.
                  </div>
                  <div class="col-sm-12 text-center book-overview">
                    <img src="images/facade.png" width="100%" height="100%">
                    <br><br><i>Figure 8. Building Facade.</i>
                  </div>
                  <div class="col-sm-12 heading3">
                    <h3>Logo on Brand Tag</h3><br>
                   I also included realistic logotype size recommendations for a tag design.
                  </div>
                  <div class="col-sm-12 text-center book-overview end">
                    <img src="images/tag.png" width="100%" height="100%">
                    <br><br><i>Figure 9. Paper Tag.</i>
                  </div>
            </div>      
          </div>
            
          

      </div>

      <div class="col-sm-1"></div>
    </div>
  </div>		


</div>

<div class="footer">
          <div class="prev">
          <a href="book.html">&#x276e;&nbsp;Previous</a>
        </div>
        <div class="next">
          <a href="openair.html">Next &nbsp;&#x276f;</a>
        </div>
    </div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	
  <script src="dist/js/lightbox-plus-jquery.min.js"></script>
	<script type="text/javascript">
  		$(".cross").hide();
		$(".menu").hide();
		$(".hamburger").click(function() {
		$(".menu").slideToggle("slow", function() {
		$(".hamburger").hide();
		$(".cross").show();
		});
		});

		$(".cross").click(function() {
		$(".menu").slideToggle("slow", function() {
		$(".cross").hide();
		$(".hamburger").show();
		});
		});

		$(window).scroll(function(e){
		  parallax();
		});
		function parallax(){
		  var scrolled = $(window).scrollTop();
		  $('.bg').css('top',-(scrolled*0.3)+'px');
		}		
			
  	</script>

</body>
</html>