<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name='viewport' content="width=device-width initial-scale=1" >
	<title>Summit IDG Web Redesign</title>
	<link rel="icon" href="images/tylogo.png" type="image/x-icon" >
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  	
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

		<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  	
  	<link rel="stylesheet" type="text/css" href="css/homepage.css">
  	<link rel="stylesheet" type="text/css" href="css/projects.css">
  	<link rel="stylesheet" href="dist/css/lightbox.min.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700|Karla|Lora|Questrial|Quicksand:400,500,700" rel="stylesheet">

  	<style type="text/css">
  		nav ul li a.active {
		  background-color: #FCB41C;
		  color: #FFF;
		}
  	</style>

  	<!--<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
  	<script type="text/javascript">
  		$("nav a").each(function() {
            // checks if its the same on the address bar
	        if(url == (this.href)) { 
	            $(this).closest("li").addClass("active");
	        }
	    });
  	</script>-->
  	
</head>
<body >

<div class="homepage" id="bookmap">											
		<div class="bg"></div>
		<nav id="nav">
			<figure><a href="index.html"><img src="images/tylogo.png" class="logo" alt="logo"></a></figure>
			<ul>						
			<li><a class="resume1 menu1" href="others/resume.pdf" target="_blank">Resume.</a></li>		
			<li><a class="projects menu1" href="index.html#projects">Work.</a></li>
			<li><a class="about menu1" href="index.html#aboutme">About.</a></li>
			</ul>
		</nav>

	<div class="header">
  		<button class="hamburger">&#9776;</button>
  		<button class="cross">&#735;</button>
	</div>


	<div class="menu">
	  <ul>
	    <a href="others/resume.pdf" target="_blank"><li>Resume.</li></a>
	    <a href="#projects"><li>Work.</li></a>
	    <a href="#aboutme"><li>About.</li></a>
	  </ul>
	</div>

	
	<div class="container">
    <div class="row">
      <div class="col-sm-1"></div>

      <div class="col-sm-10 " id="wrapper">
      			
          <div class="project-desc-title col-sm-12"><h1 class="ng-binding">Summit IDG Web Redesign</h1></div>	

          <div class="col-sm-12 project-infos" id="intro">
              <div class="project-description col-sm-2"></div>
              <div class="project-description col-sm-6">
                  <div ng-bind-html="project.description" class="ng-binding">
                  In this team project, we redesigned the Summit IDG website using Wordpress template. My role was to build framework for each page, study how to use plug-ins and then build the homepage. During this process, I mainly focused on the Accessibility Web Design: aria tags, color contrast, alternative text, etc. Additionally, I followed the modern trend to include hero image, free space, minimal text, sliders. social media icons. etc.  
                  </div>
                  <div class="project-link">
                    <a href="http://www.summitidg.org/" target="_blank">
                      <div class="p-link-t ng-scope" ng-if="project.node_name=='abc-de-l-homme'||project.node_name=='reborn'">
                        <span ng-if="global.lang=='en'" class="ng-scope">Summit IDG Website.</span>
                      </div>
                    </a>
                    <a href="http://utc.knowbility.org/" target="_blank">
                      <div class="p-link-t ng-scope" ng-if="project.node_name=='abc-de-l-homme'||project.node_name=='reborn'">
                        <span ng-if="global.lang=='en'" class="ng-scope">See Redesigned Website.</span>
                      </div>
                    </a>
                  </div>
              </div>

              <div class="project-right col-sm-4">

                <div class="r-item ng-scope" ng-if="project.client!=null"> 
                    <div class="r-item-name">
                      Client 
                    </div>
                    <span ng-bind-html="project.client" class="ng-binding">
                      Summit IDG
                    </span>
                </div>

                <div class="r-item ng-scope" ng-if="project.support.length>0"> 
                    <div class="r-item-name">
                      Skill
                    </div>
                    <div class="p-support ng-binding ng-scope" ng-repeat="s in project.support"> 
                      Web Design.<br>Accessibility Design. 
                    </div>
                </div>

                <div class="r-item ng-scope" ng-if="project.role.length>0">
                  <div class="r-item-name">
                    <span ng-if="global.lang=='en'" class="ng-scope">
                      Tool
                    </span>
                  </div> 
                  <div class="p-role ng-binding ng-scope" ng-repeat="r in project.role">
                    HTML5.<br>CSS.<br>Wordpress.
                  </div>
                  
                </div>

              </div>
          </div>
          <!--INTRO-->

          <div class="project-desc-title col-sm-12 ">
            <div class="project-description col-sm-1"></div>
            <h2 class="ng-binding col-sm-11 text-left">Homepage</h2>
          </div> 

          <div class="col-sm-12 project-infos">
              <div class="project-description col-sm-2"></div>
              <div class="project-description col-sm-10">
                  <div ng-bind-html="project.description" class="ng-binding">
                  I added a hero image on the top with their logotype and messages on it, conveying clear identity emphasis. I moved the Upcoming Events from side bar to the center, reducing the maxima from 10 to 3, with a Google Map showing event location on the right. I removed the Recent Donation section from sidebar, Blog and Atheletes from Navigation, added Facebook Feed on the right side and Honor 22 as our client requested. I changed the wording from "Apply Now!" to "Get Involved", none "Donations" to verb. "Donate", calling for action. Besides, I added "War Affected Mind" and tagline "To Support, Aid, and Honor" under orgnisation name to emphasize their mission. To reduece the repeated information of social media icons, I only kept facebook and twitter icons and moved them to the navigation for emphasis. For the Athletes Introduction section, I reduced the overall numbers, enlarged the images, cut off text, making information clearer and more readable.<br>
                  As for overall style, I made the homepage a shorter scrolling page with less text, more free space, clear color contrast and invisible accessible design.
                  </div> 
              </div>      
          </div>

          <div class="container-fluid " id="feature2" style="background-color: white">
            <div class="row openair">
              <div class="col-sm-6 text-center">
                <br><h4 style="color: #5d5d5d; font-size:150%;"><b>before</b></h4>
                <img width="100%" height="100%" src="images/idghome1.png" alt="#"/>
              </div>
              <div class="col-sm-6 text-center">
                <br><h4 style="color: #5d5d5d; font-size:150%;"><b>after</b></h4>
                <img width="100%" height="100%" src="images/idghome.png" alt="#"/>
              </div>
            </div>    
          </div>

          <div class="end">
            <div class="project-link text-center">
                    <a href="http://utc.knowbility.org/" target="_blank">
                        <span>See More Details.</span>
                    </a>
            </div>

          </div>

      </div>

      <div class="col-sm-1"></div>
    </div>
  </div>		


</div>

<div class="footer">
          <div class="prev">
          <a href="idhatshop.html">&#x276e;&nbsp;Previous</a>
        </div>
        <div class="next">
          <a href="umsi.html">Next &nbsp;&#x276f;</a>
        </div>
    </div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	
  <script src="dist/js/lightbox-plus-jquery.min.js"></script>
	<script type="text/javascript">
  		$(".cross").hide();
		$(".menu").hide();
		$(".hamburger").click(function() {
		$(".menu").slideToggle("slow", function() {
		$(".hamburger").hide();
		$(".cross").show();
		});
		});

		$(".cross").click(function() {
		$(".menu").slideToggle("slow", function() {
		$(".cross").hide();
		$(".hamburger").show();
		});
		});

		$(window).scroll(function(e){
		  parallax();
		});
		function parallax(){
		  var scrolled = $(window).scrollTop();
		  $('.bg').css('top',-(scrolled*0.3)+'px');
		}		
			
  	</script>

</body>
</html>